{% extends "base.html.twig" %}

{% block body %}
<h1 style="color:white;text-align:center;margin-top: 20rem;font-size: 5rem" >Welcome !</h1>
{#<img src="{{ asset('build/images/carte.png') }}" alt="" width="300px"/>#}
{% endblock %}