{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<h1>Toutes les categories: </h1>

    {% for category in categories %}

        <div>

            <h2>{{ category.name }}</h2>


            {# Lien vers la category: #}

            <a href="/category/show/{{ category.Name }}">Voir la category</a>

        </div>

    {% else %}

        Aucune categorie trouvée.

    {% endfor %}
{% endblock %}